@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    width: 100%;
    position: fixed;
    z-index: 9999;
    padding: 30px 0;
    /* background: crimson; */
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}

/* sticky style start */
.navbar.stycky{
    padding: 15px 0;
    background: crimson; 
}
/* sticky style end */
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
/* sticky style start */
.navbar.stycky .logo a span{
    color: rgb(0, 217, 255);
}
/* sticky style end */
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu .active{
    color: crimson;
}



.navbar .menu li a::after{
	content: '';
	width: 0%;
	height: 3px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.navbar .menu li a:hover::after{
	width: 100%;

}
.navbar .menu li a{
    display: block;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
/* sticky style start */
.navbar.stycky .menu li a:hover{
    color: rgb(0, 238, 255);
}
.navbar.stycky .menu .active{
    color: #d1cfb4;
}
/* sticky style end */

.navbar.stycky .menu li a::after{
    background: linear-gradient(to right, rgb(43, 213, 255),rgb(255, 55, 222));
}





/* menu-btn styleing start */

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* menu-btn styleing end */

/*  home section */

.home{
    display: flex;
    background: url("../images/banner-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home-content .text-1{
    font-size: 27px;
}
.home-content .text-2{
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
}
.home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home-content a:hover{
    color: crimson;
    background: none;
}

/* all similer styleing code */

section{
    padding: 100px 0;
}
.about, .services, .skills, .projects, .teams, .contact, footer{
    font-family: 'Poppins',sans-serif;
}
.about .about-content,
.services .services-content,
.skills .skills-content,
.projects .projects-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
section .title::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: crimson;
    background: #fff;
    transform: translateX(-50%);
}


/* about section style */
.about{
	position: relative;
}

.back-video{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
	

.about .title::after{
    content: 'Who i am';
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid crimson;
    outline: none;
}
.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right a{
    
    display: inline-block;
    background: crimson;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}
.about .about-content .right p{
    text-align: justify;
}

/* services section styleing */

.services, .teams{
    color: #fff;
    background: #111;
}

.services .title::before,
.teams .title::before,
.projects .title::before
{
    background: #fff;
}
.services .title::after{
    background: #111;
    content: 'what i provide';
}
.services .services-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .services-content .card:hover{
    background: crimson;
} 
.services .services-content .card .box{
    transition: all 0.3s ease;
}
.services .services-content .card:hover .box{
    transform: scale(1.05);
}
.services .services-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .services-content .card:hover i{
    color: #fff;
}
.services .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
}


/* skills section styleing */

.skills .title::after{
    content: "What i know";
}
.skills .skills-content .colum{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 3px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    background: none;
    color: crimson;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .infor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 600;
    font-size: 18px;
}
.skills .skills-content .right .line{
    width: 100%;
    height: 5px;
    background: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills .skills-content .right .html::before{
    
    width: 90%;
}
.skills .skills-content .right .css::before{
    
    width: 80%;
}
.skills .skills-content .right .js::before{
    
    width: 85%;
}
.skills .skills-content .right .bootstrap::before{
    
    width: 75%;
}
.skills .skills-content .right .php::before{
    
    width: 50%;
}


/* projects section styleing */

.projects{
    color: #fff;
    background: rgb(50, 52, 53);
}


.projects .title::after{
    background: rgb(50, 52, 53);
    content: "See my work";
}
.projects .projects-content .p-card{
    width: calc(50% - 10px);
    background: rgba(37, 37, 37, 0.835);
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}
.projects .projects-content .p-card .p-box{
    width: 100%;
    padding-bottom: 10px;
}
.projects .projects-content .p-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: none;
    transition: border 0.3s ease;
}
.projects .projects-content .p-card p{
    margin-top:20px ;
    margin-bottom:10px ;
}
.projects .projects-content .p-card a{
    font-size: 18px;
    color:crimson ;
}

hr{
    width: 100%;
    height: 7px;
    background: crimson;
    border: none;
}


/* teams section styleing */

.teams .title::after{
    background: #111;
    content: "Who is with me";
}
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: grab;
}
.teams .carousel .card:hover{
    background: crimson;
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card p{
    font-size: 14px;
}

.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: border 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color:#fff;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    width: 13px;
    height: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}
.teams .carousel .card a{
    font-size: 25px;
    margin-right: 15px;

}
.teams .carousel .card a:nth-child(2){
    color: #0a76e7;

}
.teams .carousel .card a:nth-child(3){
    color: #b530b7;

}
.teams .carousel .card a:nth-child(4){
    color: #1c96e9;

}
.teams .carousel .card a:nth-child(5){
    color: #0a63bc;

}
.teams .carousel .card a:nth-child(6){
    color: #3fe05c;

}



/* contact section styleing */

.contact .title::after{
    content: "Get in Touch";
}
.contact .contact-content .colum{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    width: 170px;
    height: 47px;
}
.contact .right form .button button i{
    margin: 5px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    background: none;
    color: crimson;
}


/* footer style */

footer{
	position: relative;
	width: 100%;
	background: #3586ff;
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    margin-top: 50px;
}

footer .social-icon{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}
footer .social-icon li{
	list-style: none;
}
footer .social-icon li a{
	font-size: 2em;
	color: rgb(255, 230, 224);
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
}
footer .social-icon li a:hover{
	transform: translateY(-10px);
	
}
footer p{
    color: #cfcfcf;
    font-size: 18px;
    font-weight: 400;
}


footer .wave{
	position: absolute;
	top: -90px;
	left: 0;
	width: 100%;
	height: 100px;
	background:url(../images/wave.png);
	background-size: 1000px 100px;
}
footer .wave#wave1{
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animatedwev 4s linear infinite;
}
footer .wave#wave2{
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animatedwev_02 4s linear infinite;
}
footer .wave#wave3{
	z-index: 1000;
	opacity: 0.2;
	bottom: 15px;
	animation: animatedwev 3s linear infinite;
}
footer .wave#wave4{
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animatedwev_02 3s linear infinite;
}

@keyframes animatedwev{
	0%{
		background-position-x:1000px;
	}
	100%{
		background-position-x: 0px;
	}
}
@keyframes animatedwev_02{
	0%{
		background-position-x:0px;
	}
	100%{
		background-position-x: 1000px;
	}
}



/*  acroll up button */

.scroll-up-btn{
    position: fixed;
    width: 42px;
    height: 45px;
    right: 30px;
    bottom: 10px;
    background-color: #fff;
    text-align: center;
    line-height: 45px;
    color: rgb(255, 92, 92);
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}







.bar{
    color: #111;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
.bar .thumb{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #000;
    border-radius: 60px;
    margin-top: 20px;
}
.bar span{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to left,#ff0057,#ffeb3b);
    border-radius: 50px;

}
.bar:nth-child(1) span{
    width: 80%;
}
.bar:nth-child(2) span{
    width: 70%;
}
.bar:nth-child(3) span{
    width: 75%;
}
.bar:nth-child(4) span{
    width: 85%;
}
.bar:nth-child(5) span{
    width: 80%;
}
.bar abbr{
    width: 50px;
    display: inline-block;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    line-height: 35px;
    position: absolute;
    top: 30px;
    margin-left: -48px;
    z-index: 1;
    background: linear-gradient(to left, #ff0057,#ffe007);
    box-shadow: 0 5px 30px rgb(255 0 87 / 50%),
                0 5px 30px rgb(255 255 59 / 50%) ;
}
.bar:nth-child(1) abbr{
    left: 80%;
}
.bar:nth-child(2) abbr{
    left: 70%;
}
.bar:nth-child(3) abbr{
    left: 75%;
}
.bar:nth-child(4) abbr{
    left: 85%;
}
.bar:nth-child(5) abbr{
    left: 80%;
}




